<nav class="flex justify-center mt-8">
  <ul class="inline-flex space-x-1">
    <li><a href="#" class="px-3 py-1 bg-gray-200 hover:bg-gray-300 rounded">Prev</a></li>
    <li><a href="#" class="px-3 py-1 bg-blue-500 text-white rounded">1</a></li>
    <li><a href="#" class="px-3 py-1 bg-gray-200 hover:bg-gray-300 rounded">2</a></li>
    <li><a href="#" class="px-3 py-1 bg-gray-200 hover:bg-gray-300 rounded">3</a></li>
    <li><a href="#" class="px-3 py-1 bg-gray-200 hover:bg-gray-300 rounded">Next</a></li>
  </ul>
</nav>
